.form-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    align-items: start;
}

.field label{
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
}

.field input, button, select{
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    gap: 5px;
}

.field button{
    gap: 10px;
    font-size: 0.9rem;
    padding: 10px;
    width: 75px;
    background-color: #dbdbdb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.field button:hover{
    background-color: #ebebeb;
}

.buttons-group{
    display: flex;
    gap: 1rem;
}

.expense-grid{
    display: grid;
    justify-items: space-between;
}

.edit-grid{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}