.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}

.paycheck-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: start;
}

.field label{
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
}

.field input, button, select{
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    gap: 5px;
}

.field button{
    gap: 10px;
    font-size: 0.9rem;
    padding: 10px;
    width: 75px;
    background-color: #dbdbdb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.field button:hover{
    background-color: #ebebeb;
}

.buttons-group{
    display: flex;
    gap: 2rem;
    padding: 5px;
}

#money-wheel-container{
    position: relative;
    width: 260px;
    height:260px;
}

#money-wheel {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
    red 0deg var(--bill-deg),
    green var(--bill-deg) 360deg
    );

}

.hover-zone {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
}

.hover-zone.expenses {
    right: 0;
}

.hover-zone.remaining {
    left: 0;
}

.tooltip {
    position: absolute;
    padding: 8px 12px;
    background: #222;
    color: white;
    font-size: 14px;
    border-radius: 6px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease;
    white-space: nowrap;
    z-index: 10;
}



.bills-table {
    width: 500px;
    align-items: right;
}
.bills-container {

}

.bills-container button {
    width: 500px;
}

