body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightblue;
    margin: 0;
}

.center-box {
    width: 400px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.password-container {
    position: relative;
    display: inline-block;
}

/* the little i icon */
.info-icon {
    position: absolute;
    background: lightblue;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    padding-left: 5px;
    font-size: 12px;
    cursor: pointer;
}

/* the popup */
.tooltip-box {
    position: absolute;
    top: 7%;
    left: 105%; /* Move to the right of the icon */
    background: rgb(102, 179, 204);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 200px;

    /* invisible + slightly shifted */
    opacity: 0;
    transform: translateX(-10px);
    pointer-events: none;

    /* smooth animation */
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

/* the hover state */
.password-container:hover .tooltip-box {
    opacity: 1;
    transform: translateX(0px);
}

.center-box button {
    gap: 10px;
    font-size: 0.9rem;
    padding: 10px;
    width: 120px;
    background-color: #bbc4c7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.center-box button:hover {
    background-color: #9ba4a7;
}

.center-box label {
    color: #343c3f;
    outline: 1px;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.2px
}

.center-box input {

    padding: 12px 14px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    transition: 0.2s ease-out;
}

.center-box input:focus{
    border-color: #4a90e2;
    box-shadow: 0 0 6px rgba(74, 144, 226, 0.3)
    outline: none;
}

.header {
    color: #343c3f;
}

.form-link {
    font-size: 0.9rem;
    color: #343c3f;
    margin-top: 16px;
}

.form-link a {
    color: #343c3f;
    text-decoration: none;
    font-weight: 600;
}

.form-link a:hover {
    text-decoration: underline;
}

.errors {
    background-color: #ffe6e6;      /* soft red background */
    border: 1px solid #ffb3b3;      /* thin border */
    color: #b30000;                 /* readable deep red text */
    padding: 12px 16px;             /* space inside */
    border-radius: 8px;             /* rounded corners */
    margin-bottom: 20px;            /* spacing from form */
    font-size: 0.95rem;             /* clean size */
}

.errors ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.errors li::before {
    content: "⚠️ ";
    font-size: 0.9rem;
}