.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}

#money-wheel {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(
    red 0deg var(--bill-deg),
    green var(--bill-deg) 360deg
    );
}

#money-wheel-container{
    display: flex;
    justify-content: center;
    align-items: center;
}