<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Budget Board</title>
    {% load static %}
    <link ref="">
</head>
<body>
<h1>Let's do some math</h1>
<p>So, you earn ${{ income.value }} {{ income.frequency|lower }}<br>
and want to save {{ income.aggression|floatformat:0 }}% of that?</p>
<h2>Taking into account your {{ income.frequency|lower }} expenses totaling ${{ expense_total }}... </h2>
<h2>Here's what you'll have left:</h2>
<h3>You'll save: ${{ to_savings }}</h3>
<h3>You can spend: ${{ free_money }}</h3>
<input type="hidden" name="paycheck" value="{{ paycheck }}">

</body>
</html>