<!--
This is where the user will add their expenses. Expenses have a name, value, method, frequency, category, and description
-->

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Expenses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/expenses.css' %}">
</head>

<body>
    <h1>Let's add some expenses</h1>
    <h3 class="user">{{ user.username }}</h3>
    <p>Required fields contain *</p>
    {% if errors %}
        {% for error in errors %}
            <p style="color:red;">{{ error }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-grid">
            <div class="field">
                <label for="name">Name*</label>
                <input type="text" name="name" id="name" value ="{{ fields.name }}">
            </div>

            <div class="field">
                <label for="date">Date</label>
                <input type="date" name="date" id="date" value ="{{ fields.date }}">
            </div>

            <div class="field">
                <label for="value">Amount*</label>
                <input type="text" name="value" id="value" value ="{{ fields.value }}">
            </div>

            <div class="field">
                <label for="method">Method*</label>
                <select name="method" id="method">
                    <option value="">-- select --</option>
                    <option value="Cash" {% if fields.method == "Cash" %} selected {% endif %}>Cash</option>
                    <option value="Credit" {% if fields.method == "Credit" %} selected {% endif %}>Credit</option>
                    <option value="Debit" {% if fields.method == "Debit" %} selected {% endif %}>Debit</option>
                </select>
            </div>

            <div class="field">
                <label for="frequency">Frequency*</label>
                <select name="frequency" id="frequency">
                    <option value="">-- select --</option>
                    <option value="One-Time" {% if fields.frequency == "One-Time" %} selected {% endif %}>One-Time</option>
                    <option value="Monthly" {% if fields.frequency == "Monthly" %} selected {% endif %}>Monthly</option>
                    <option value="Bi-Weekly" {% if fields.frequency == "Bi-Weekly" %} selected {% endif %}>Bi-Weekly</option>
                    <option value="Weekly" {% if fields.frequency == "Weekly" %} selected {% endif %}>Weekly</option>
                    <option value="Daily" {% if fields.frequency == "Daily" %} selected {% endif %}>Daily</option>
                </select>
            </div>

            <div class="field">
                <label for="category">Category</label>
                <input type="text" name="category" id="category" value = "{{ fields.category }}">
            </div>

            <div class="field">
                <label for="description">Description</label>
                <input type="text" name="description" id="description" value = "{{ fields.description }}">
            </div>
            <div class="buttons-group">
                <div class="field">
                    <label>&nbsp;</label>
                    <button type="submit" name="action" value="add">Submit</button>
                </div>

                <div class="field">
                    <label>&nbsp;</label>
                    <button type="submit" name="action" value="clear_all">Clear All</button>
                </div>

            </div>

        </div>
    </form>
     <p><a href="/">Home</a></p>

    <h2>Expenses</h2>
    <div class="expense-grid">
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Value</th>
                <th>Method</th>
                <th>Frequency</th>
                <th>Category</th>
                <th>Description</th>
                <th>Buttons</th>
            </tr>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.name }}</td>
                    <td>
                        {% if expense.date %}
                            {{ expense.date }}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                    <td>{{ expense.value }}</td>
                    <td>{{ expense.method }}</td>
                    <td>{{ expense.frequency }}</td>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.description }}</td>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" name="action" value="clear_single">Clear</button>
                            <button type="submit" name="action" value="edit">Edit</button>
                            <input type="hidden" name="expense_id" value="{{ expense.id }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>


<!----------------------------------------------------------------------------------------------
-->

    {% if editing %}
    <h2>Edit "{{ old_fields.name }}" {% if old_fields.date %} from {{ old_fields.date }} {% endif %}</h2>
        {% if edit_errors %}
            {% for error in edit_errors %}
                <p style="color:red;">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="edit-grid">
                <input type="hidden" name="expense_id" value="{{ old_fields.id }}">
                <div class="field">
                    <label for="edited_name">Name*</label>
                    <input type="text" name="edited_name" id="edited_name" value="{{ old_fields.name }}">
                </div>

                <div class="field">
                    <label for="edited_date">Date</label>
                    <input type="date" name="edited_date" id="edited_date" value="{{ old_fields.date|date:'Y-m-d' }}">
                </div>

                <div class="field">
                    <label for="edited_value">Amount*</label>
                    <input type="text" name="edited_value" id="edited_value" value="{{ old_fields.value }}">
                </div>

                <div class="field">
                    <label for="edited_method">Method*</label>
                    <select name="edited_method" id="edited_method">
                        <option value="">-- select --</option>
                        <option value="Cash" {% if old_fields.method == "Cash" %} selected {% endif %}>Cash</option>
                        <option value="Credit" {% if old_fields.method == "Credit" %} selected {% endif %}>Credit</option>
                        <option value="Debit" {% if old_fields.method == "Debit" %} selected {% endif %}>Debit</option>
                    </select>
                </div>

                 <div class="field">
                    <label for="edited_frequency">Frequency*</label>
                    <select name="edited_frequency" id="edited_frequency">
                        <option value="">-- select --</option>
                        <option value="One-Time" {% if old_fields.frequency == "One-Time" %} selected {% endif %}>One-Time</option>
                        <option value="Monthly" {% if old_fields.frequency == "Monthly" %} selected {% endif %}>Monthly</option>
                        <option value="Bi-Weekly" {% if old_fields.frequency == "Bi-Weekly" %} selected {% endif %}>Bi-Weekly</option>
                        <option value="Weekly" {% if old_fields.frequency == "Weekly" %} selected {% endif %}>Weekly</option>
                        <option value="Daily" {% if old_fields.frequency == "Daily" %} selected {% endif %}>Daily</option>
                    </select>
                </div>

                <div class="field">
                    <label for="edited_category">Category</label>
                    <input type="text" name="edited_category" id="edited_category" value="{{ old_fields.category }}">
                </div>

                <div class="field">
                    <label for="edited_description">Description</label>
                    <input type="text" name="edited_description" id="edited_description" value="{{ old_fields.description }}">
                </div>

                <div class="buttons-group">
                    <div class="field">
                        <button type="submit" name="action" value="add_edited">Submit</button>
                        <button type="submit" name="action" value="cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
</body>
</html>