<!--
This is where the main application will live
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/home.css' %}">


</head>


<body>

<form method="POST">
    {% csrf_token %}
    <div class="income-grid">
        <div class="paycheck">
             <h2>So, tell me about yourself</h2>
            <div class="errors">
                {% if errors %}
                    {% for error in errors %}
                        <p style="color:red;">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <label for="paycheck">I get paid</label>
            <input type="text" name="paycheck" id="paycheck">
            <label for="frequency">
                every
            </label>
            <select name="frequency" id="frequency">
                <option value="">-- select --</option>
                <option value="month">month</option>
                <option value="two-weeks">two weeks</option>
                <option value="week">week</option>
                <option value="day">day</option>
            </select>
            <label for="aggression">I want to save</label>
            <select for="aggression">
                <option value="">-- select --</option>
                <option value="moderately">moderately (70/30)</option>
                <option value="aggressively">aggressively (80/20)</option>
                <option value="mercilessly">mercilessly (90/10)</option>
                <option value="everything">everything (100/0)</option>
            </select>
            <button type="submit">Submit</button>
        </div>
        {% if paycheck_input %}
        <div class="results">
            <p>You got paid ${{ paycheck }}</p>
            <p>Of that, you will save ${{ to_savings }}</p>
            <p>You can spend ${{ free_money }}</p>
        </div>
    {% endif %}
    </div>
</form>



<p class="to-expenses"><a href="expenses/">Expenses</a></p>
</body>

</html>