<!--
This is where the main application will live
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/home.css' %}">


</head>


<body>

<form method="POST">
    {% csrf_token %}
    <div class="income-grid">
        <div class="paycheck">
             <h2>Tell me about the money</h2>
            <div class="errors">
                {% if errors %}
                    {% for error in errors %}
                        <p style="color:red;">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <label for="date">On</label>
            <input type="date" name="date" id="date" value="{{ fields.date }}">
            <label for="paycheck">I got paid</label>
            <input type="text" name="paycheck" id="paycheck" value="{{ fields.value }}">
            <label for="frequency">
                My paychecks are
            </label>
            <!--
            Refactor this somehow by making frequencies list/dict inside
            Expense Object to keep things as consistent as possible
            -->
            <select name="frequency" id="frequency">
                <option value="">-- select --</option>
                <option value="Monthly" {% if fields.frequency == "Monthly" %} selected {% endif %}>monthly</option>
                <option value="Bi-Weekly" {% if fields.frequency == "Bi-Weekly" %} selected {% endif %}>bi-weekly</option>
                <option value="Weekly" {% if fields.frequency == "Weekly" %} selected {% endif %}>weekly</option>
                <option value="Daily" {% if fields.frequency == "Daily" %} selected {% endif %}>daily</option>
            </select>
            <label for="aggression">I want to save</label>
            <select name="aggression" id="aggression">
                <option value="">-- select --</option>
                <option value="70" {% if fields.aggression == 70.0 %} selected {% endif %}>moderately (70/30)</option>
                <option value="80" {% if fields.aggression == 80.0 %} selected {% endif %}>aggressively (80/20)</option>
                <option value="90" {% if fields.aggression == 90.0 %} selected {% endif %}>mercilessly (90/10)</option>
                <option value="100" {% if fields.aggression == 100.0 %} selected {% endif %}>everything (100/0)</option>
            </select>
            <button type="submit">Submit</button>
        </div>
        {% if paycheck_input %}
        <div class="results">
            <p>You got paid ${{ paycheck }}</p>
            <p>Of that, you will save ${{ to_savings }}</p>
            <p>You can spend ${{ free_money }}</p>
        </div>
    {% endif %}
    </div>
</form>



<p class="to-expenses"><a href="expenses/">Expenses</a></p>
</body>

</html>