<!doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/new_home.css' %}">
</head>

<body>

<div class="container">

    <div class="paycheck-box">
        <label for="paycheck">Paycheck</label>
        <label for="start-date">Start</label>
        <label for="end-date">Until</label><br>
        <input type="number" name="paycheck" id="paycheck">
        <input type="date" name="start-date" id="start-date">
        <input type="date" name="end-date" id="end-date">
        <button type="submit">Submit</button>
    </div>

    <div class="bills-table">
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Pay Day</th>
            </tr>
            {% for bill in bills %}
            <tr>
                <td>{{ bills.name }}</td>
                <td>{{ bills.amount }}</td>
                <td>{{ bills.day }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3">
                    <button type="submit">+</button>
                </td>
            </tr>
        </table>

    </div>


    <div id="money-wheel-container">
        <div id="money-wheel">
        </div>
    </div>



</div>

</body>

</html>